body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.5vw;
	background-color: lightgrey;
}
form {
	text-align: center;
}
.page-title {
	width: 100%;
	margin-top: 2vw;
	margin-bottom: 3vw;
}
.first-msg {
	color: grey;
}
.input-field {
	margin: 1%;
	width: 15%;
    height: 3vw;
    text-align: center;
    font-size: 1.5vw;
}
.input-header {
	font-weight: bold;
}
.input-field-ok {
	    
	background-color: #2ec12e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.input-field-ok:hover {
	cursor: pointer;
}
.error-msg-on {
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	display: inline-block;
	color: #dc1f5f;
	background-color: darkgrey;
	padding: 2%;
	font-size: 2vw;
	font-weight: bold;
}
.error-msg-off {
	display: none;
}
.submit-button {
	float: left;
	margin-left: 38%;
	width: 11vw;
}
.cancel-button {
	float: right;
	margin-right: 38%;
	width: 6vw;
	background-color: #d45027;
}